# Python cache
__pycache__/
*.py[cod]

# Logs
*.log

# Git / VCS
.git/
*.md

# IDE / editor
.vscode/
.idea/

# Python envs
.venv/
venv/

# Dev folders
tests/
notebooks/
examples/

# Node.js
node_modules/

# Docker sensitive
.env
*.DS_Store
.cache/
.local/
