aiofiles==24.1.0 ; python_version >= "3.13" and python_version < "4.0"
aiohappyeyeballs==2.6.1 ; python_version >= "3.13" and python_version < "4.0"
aiohttp==3.12.6 ; python_version >= "3.13" and python_version < "4.0"
aiosignal==1.3.2 ; python_version >= "3.13" and python_version < "4.0"
aiosqlite==0.21.0 ; python_version >= "3.13" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.13" and python_version < "4.0"
anyio==4.9.0 ; python_version >= "3.13" and python_version < "4.0"
attrs==25.3.0 ; python_version >= "3.13" and python_version < "4.0"
automat==25.4.16 ; python_version >= "3.13" and python_version < "4.0"
beautifulsoup4==4.13.4 ; python_version >= "3.13" and python_version < "4.0"
brevo-python==1.1.2 ; python_version >= "3.13" and python_version < "4.0"
brotli==1.1.0 ; python_version >= "3.13" and python_version < "4.0"
bs4==0.0.2 ; python_version >= "3.13" and python_version < "4.0"
certifi==2025.4.26 ; python_version >= "3.13" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.13" and python_version < "4.0"
cfgv==3.4.0 ; python_version >= "3.13" and python_version < "4.0"
chardet==5.2.0 ; python_version >= "3.13" and python_version < "4.0"
charset-normalizer==3.4.2 ; python_version >= "3.13" and python_version < "4.0"
click==8.2.1 ; python_version >= "3.13" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.13" and python_version < "4.0"
constantly==23.10.4 ; python_version >= "3.13" and python_version < "4.0"
crawl4ai==0.6.3 ; python_version >= "3.13" and python_version < "4.0"
cryptography==45.0.3 ; python_version >= "3.13" and python_version < "4.0"
cssselect==1.3.0 ; python_version >= "3.13" and python_version < "4.0"
deepl==1.22.0 ; python_version >= "3.13" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.13" and python_version < "4.0"
deprecation==2.1.0 ; python_version >= "3.13" and python_version < "4.0"
distlib==0.3.9 ; python_version >= "3.13" and python_version < "4.0"
distro==1.9.0 ; python_version >= "3.13" and python_version < "4.0"
fake-http-header==0.3.5 ; python_version >= "3.13" and python_version < "4.0"
fake-useragent==2.2.0 ; python_version >= "3.13" and python_version < "4.0"
fastapi==0.115.12 ; python_version >= "3.13" and python_version < "4.0"
filelock==3.18.0 ; python_version >= "3.13" and python_version < "4.0"
frozenlist==1.6.0 ; python_version >= "3.13" and python_version < "4.0"
fsspec==2025.5.1 ; python_version >= "3.13" and python_version < "4.0"
gotrue==2.12.0 ; python_version >= "3.13" and python_version < "4.0"
greenlet==3.2.2 ; python_version >= "3.13" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.13" and python_version < "4.0"
h2==4.2.0 ; python_version >= "3.13" and python_version < "4.0"
hf-xet==1.1.2 ; python_version >= "3.13" and python_version < "4.0" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.1.0 ; python_version >= "3.13" and python_version < "4.0"
httpcore==1.0.9 ; python_version >= "3.13" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.13" and python_version < "4.0"
huggingface-hub==0.32.3 ; python_version >= "3.13" and python_version < "4.0"
humanize==4.12.3 ; python_version >= "3.13" and python_version < "4.0"
hyperframe==6.1.0 ; python_version >= "3.13" and python_version < "4.0"
hyperlink==21.0.0 ; python_version >= "3.13" and python_version < "4.0"
identify==2.6.12 ; python_version >= "3.13" and python_version < "4.0"
idna==3.10 ; python_version >= "3.13" and python_version < "4.0"
importlib-metadata==8.7.0 ; python_version >= "3.13" and python_version < "4.0"
incremental==24.7.2 ; python_version >= "3.13" and python_version < "4.0"
iniconfig==2.1.0 ; python_version >= "3.13" and python_version < "4.0"
itemadapter==0.11.0 ; python_version >= "3.13" and python_version < "4.0"
itemloaders==1.3.2 ; python_version >= "3.13" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.13" and python_version < "4.0"
jiter==0.10.0 ; python_version >= "3.13" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.13" and python_version < "4.0"
joblib==1.5.1 ; python_version >= "3.13" and python_version < "4.0"
jsonschema-specifications==2025.4.1 ; python_version >= "3.13" and python_version < "4.0"
jsonschema==4.24.0 ; python_version >= "3.13" and python_version < "4.0"
litellm==1.72.0 ; python_version >= "3.13" and python_version < "4.0"
lxml==5.4.0 ; python_version >= "3.13" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.13" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.13" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.13" and python_version < "4.0"
multidict==6.4.4 ; python_version >= "3.13" and python_version < "4.0"
mypy-extensions==1.1.0 ; python_version >= "3.13" and python_version < "4.0"
mypy==1.15.0 ; python_version >= "3.13" and python_version < "4.0"
nltk==3.9.1 ; python_version >= "3.13" and python_version < "4.0"
nodeenv==1.9.1 ; python_version >= "3.13" and python_version < "4.0"
numpy==2.2.6 ; python_version >= "3.13" and python_version < "4.0"
openai==1.82.1 ; python_version >= "3.13" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.13" and python_version < "4.0"
parsel==1.10.0 ; python_version >= "3.13" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.13" and python_version < "4.0"
platformdirs==4.3.8 ; python_version >= "3.13" and python_version < "4.0"
playwright==1.52.0 ; python_version >= "3.13" and python_version < "4.0"
pluggy==1.6.0 ; python_version >= "3.13" and python_version < "4.0"
poetry-core==2.1.3 ; python_version >= "3.13" and python_version < "4.0"
postgrest==1.0.2 ; python_version >= "3.13" and python_version < "4.0"
pre-commit==3.7.1 ; python_version >= "3.13" and python_version < "4.0"
propcache==0.3.1 ; python_version >= "3.13" and python_version < "4.0"
protego==0.4.0 ; python_version >= "3.13" and python_version < "4.0"
psutil==7.0.0 ; python_version >= "3.13" and python_version < "4.0"
pyasn1-modules==0.4.2 ; python_version >= "3.13" and python_version < "4.0"
pyasn1==0.6.1 ; python_version >= "3.13" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.13" and python_version < "4.0"
pydantic-core==2.33.2 ; python_version >= "3.13" and python_version < "4.0"
pydantic==2.11.5 ; python_version >= "3.13" and python_version < "4.0"
pydispatcher==2.0.7 ; python_version >= "3.13" and python_version < "4.0" and platform_python_implementation == "CPython"
pyee==13.0.0 ; python_version >= "3.13" and python_version < "4.0"
pygit2==1.18.0 ; python_version >= "3.13" and python_version < "4.0"
pygments==2.19.1 ; python_version >= "3.13" and python_version < "4.0"
pyjwt==2.10.1 ; python_version >= "3.13" and python_version < "4.0"
pyopenssl==25.1.0 ; python_version >= "3.13" and python_version < "4.0"
pyperclip==1.9.0 ; python_version >= "3.13" and python_version < "4.0"
pypydispatcher==2.1.2 ; python_version >= "3.13" and python_version < "4.0" and platform_python_implementation == "PyPy"
pytest-mock==3.14.1 ; python_version >= "3.13" and python_version < "4.0"
pytest==8.3.5 ; python_version >= "3.13" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.13" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.13" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.13" and python_version < "4.0"
queuelib==1.8.0 ; python_version >= "3.13" and python_version < "4.0"
rank-bm25==0.2.2 ; python_version >= "3.13" and python_version < "4.0"
rapidfuzz==3.13.0 ; python_version >= "3.13" and python_version < "4.0"
realtime==2.4.3 ; python_version >= "3.13" and python_version < "4.0"
referencing==0.36.2 ; python_version >= "3.13" and python_version < "4.0"
regex==2024.11.6 ; python_version >= "3.13" and python_version < "4.0"
requests-file==2.1.0 ; python_version >= "3.13" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.13" and python_version < "4.0"
rich==14.0.0 ; python_version >= "3.13" and python_version < "4.0"
rpds-py==0.25.1 ; python_version >= "3.13" and python_version < "4.0"
scrapy-playwright==0.0.43 ; python_version >= "3.13" and python_version < "4.0"
scrapy==2.13.0 ; python_version >= "3.13" and python_version < "4.0"
service-identity==24.2.0 ; python_version >= "3.13" and python_version < "4.0"
setuptools==80.9.0 ; python_version >= "3.13" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.13" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.13" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.13" and python_version < "4.0"
soupsieve==2.7 ; python_version >= "3.13" and python_version < "4.0"
starlette==0.46.2 ; python_version >= "3.13" and python_version < "4.0"
storage3==0.11.3 ; python_version >= "3.13" and python_version < "4.0"
strenum==0.4.15 ; python_version >= "3.13" and python_version < "4.0"
supabase==2.15.1 ; python_version >= "3.13" and python_version < "4.0"
supafunc==0.9.4 ; python_version >= "3.13" and python_version < "4.0"
tf-playwright-stealth==1.1.2 ; python_version >= "3.13" and python_version < "4.0"
tiktoken==0.9.0 ; python_version >= "3.13" and python_version < "4.0"
tldextract==5.3.0 ; python_version >= "3.13" and python_version < "4.0"
tokenizers==0.21.1 ; python_version >= "3.13" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.13" and python_version < "4.0"
twisted==24.11.0 ; python_version >= "3.13" and python_version < "4.0"
types-python-dateutil==2.9.0.20250516 ; python_version >= "3.13" and python_version < "4.0"
types-requests==2.32.0.20250328 ; python_version >= "3.13" and python_version < "4.0"
typing-extensions==4.13.2 ; python_version >= "3.13" and python_version < "4.0"
typing-inspection==0.4.1 ; python_version >= "3.13" and python_version < "4.0"
urllib3==2.4.0 ; python_version >= "3.13" and python_version < "4.0"
uvicorn==0.34.3 ; python_version >= "3.13" and python_version < "4.0"
virtualenv==20.31.2 ; python_version >= "3.13" and python_version < "4.0"
w3lib==2.3.1 ; python_version >= "3.13" and python_version < "4.0"
websockets==14.2 ; python_version >= "3.13" and python_version < "4.0"
xxhash==3.5.0 ; python_version >= "3.13" and python_version < "4.0"
yarl==1.20.0 ; python_version >= "3.13" and python_version < "4.0"
zipp==3.22.0 ; python_version >= "3.13" and python_version < "4.0"
zope-interface==7.2 ; python_version >= "3.13" and python_version < "4.0"
